@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about this template in <a href="https://github.com/vitali-karmanov/ASPNET-Core-MVC-SEO-Friendly-Template">Github</a>.</p>
</div>
