@{
    ViewData["MetaDescription"] = "SEO Friendly Startup Template for new projects with ASP.NET Core MVC 3.1";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET Core SEO Template</h1>
    <br/>
    <p>This looks like a very empty template, and it is. However, it's SEO Optimized and it's ready to be used on your next project.<p/>
    <p>This template will help you build your new website in a SEO friendly way, have a better chance of being indexed by Google, and get more organic visits.</p>
    <p> Learn more about all the hidden features of this template on <a href="https://github.com/vitali-karmanov/ASPNET-Core-SEO-Template">Github</a>.</p>
</div>
